.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    z-index: 1000;
}
.active{
    background-color: #1d4ed8;
    color:red;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.menu {
    display: none;
    cursor: pointer;
}

.menu span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}

.navbar-links {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #333;
    transition: max-height 0.3s ease-out;
    max-height: 0;
    overflow: hidden;
}

.navbar-links.open {
    max-height: 200px;
}

.navbar-links li {
    padding: 10px 20px;
}

.navbar-links a {
    color: white;
    text-decoration: none;
}

@media (max-width: 768px) {
    .menu {
        display: block;
    }

    .navbar-links {
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
    }

    .navbar-links.open {
        max-height: 200px;
    }
}

nav ul li a:not(.active):hover {
    background-color:#172554 ;
}
